* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

body h1 {
    text-align: center;
}

/* GAME CONTAINER*/

.game-container {
    height: 400px;
    width: 400px;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    font-size: 72px;
}

/* REMOVE BORDER */

.game-square:nth-child(-n + 3) {
    border-top: none;
}

.game-square:nth-child(3n) {
    border-right: none;
}

.game-square:nth-child(3n  - 2) {
    border-left: none;
} 

.game-square:nth-child(n + 7) {
    border-bottom: none;
}

.game-square:hover {
    cursor: pointer;
}

/* Select Mark */

.pick-mark {
    margin: 0 auto;
    display: flex;
}

.pick-mark label {
    font-size: 1.5rem;
}

.pick-mark select {
    padding: 0.3rem;
}

.pick-mark #begin-button {
    margin: 0 7rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}