* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body h1 {
    text-align: center;
}

/* GAME CONTAINER*/

.game-container {
    height: 400px;
    width: 400px;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    font-size: 72px;
}

/* REMOVE BORDER */

.game-square:nth-child(-n + 3) {
    border-top: none;
}

.game-square:nth-child(3n) {
    border-right: none;
}

.game-square:nth-child(3n  - 2) {
    border-left: none;
} 

.game-square:nth-child(n + 7) {
    border-bottom: none;
}

.game-square:hover {
    cursor: pointer;
}

/* FEATURES */

.features {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.features > input {
    height: 40px;
    width: 200px;
    margin: 1rem;
}

.features > input[placeholder] {
    font-size: 1rem;
}

.features > button {
    display: none;
}

.features label {
    font-size: 1.5rem;
}

.features > .radio-btns > #x {
    margin-right: 1rem;
}


/* PLAY BUTTONS */

.buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 500px;
}

button {
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 24px;
    width: 200px;
}

.buttons button:hover {
    cursor: pointer;
}

